
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron',sans-serif;
}
storeName{
    font-size: 46px;
    line-height: 54px;
    color: rgb(39, 255, 244);
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: tomato;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(0, 0, 0);
}
h4 {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

h5 {
    font-size: 40px;
    color: rgb(15, 57, 77);
}
h5small {
    font-size: 25px;
    color: rgb(15, 57, 77);
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

h7 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;

}
p {
    font-size: 16px;
    color:rgb(8, 8, 8);
    margin: 15px 0 20px 0;
}
p1{
    font-size: 16px;
    color: #000000;
    margin: 15px 0 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
discount {
    font-size: 25px;
    color: #000000;
    text-decoration: black line-through;
}

/* padding for sections */
.section-p1 {
    padding: 40px 80px;
}

/* padding for sections */
.section-p2 {
    padding: 20px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* HEADING  */

#header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 100px;
    background: rgb(15, 57, 77);
    box-shadow: 0 2px 2px rgb(183, 102, 3);
    z-index: 999;
    /* get to stay at top when scrolling */
    position: sticky;
    top: 0;
    left: 0;
}

/* get navbar choices in row */
#navbar {
    display: flex;
    align-items:center;
    justify-content: center;
}

/* get navbar choices padding and no bullet point */
#navbar li {
    /*remove bullet points*/
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* customize navbar choices */
#navbar li a{
    /* remove underlines */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    /* when hover - smoother */
    transition: 0.3 ease;
}

/* Informative Feedback */
#navbar li a:hover,
#navbar li a.active{
    color:rgb(39, 255, 244);
}

/* Create underline with informative feedback */
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 55%;
    height: 1px;
    background: rgb(39, 255, 244);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* HOME PAGE */

/* hero */
#hero {
    border: 3px solid black;
    background-image: url(Images/backgroundHome.png);
    height: 40vh;
    width: 100%;
    background-size:cover;
    background-position: top 40% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero button {
    background-color: transparent;
    color: orange;
    padding: 14px 80px 14px 65px;
    font-size: large;
    font-weight: 900;
    cursor: pointer;
    background-repeat: no-repeat;
}

#hero button:hover {
    transform: scale(1.10);
}

/* FEATURED-ITEMS */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 375px;
    text-align:center;
    padding: 25px 15px;
    box-shadow: 5px 5px 5px rgb(1, 1, 1);
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px 0;
}

/* hover effect */
#feature .fe-box :hover {
    transform: scale(1.05);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#featuredProducts {
    text-align: center;
}

/* get featured items in a row */
#featuredProducts .productcontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#featuredProducts .products {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 3px solid #000000;
    box-shadow: 10px 10px 15px rgb(217, 123, 0);
    margin: 15px 0;
    transition: 0.2s ease;
    /* for cart position */
    position: relative;
}

#featuredProducts .products:hover {
    box-shadow: 20px 20px 30px black;
}

#featuredProdcuts .products img {
    width: 100%;
    border-radius: 20px;
}

/* the stars */
#featuredProducts .products .description i {
    font-size: 25px;
    color: orange;
}

#featuredProducts .products .cart {
    font-size: 25px;
    cursor: pointer;
    color: #000000;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* NEWSLETTER */
#newsletter {
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("Images/newsletter-banner.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: white;
}

#newsletter h4{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

#newsletter p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 3px solid;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    cursor: pointer;
    height: 3.15rem;
    background-color:white;
    color: black;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}


/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    padding: 5px;
}

footer a{
    color: black;
    padding: 5px;
    text-decoration: none;    
}

footer a:hover{
    color: orange;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* SHOP PAGE */
#page-header {
    border-bottom: 3px solid black;
    background-image: url(Images/snowflake.png);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-title {
    text-align: center;
}

#pagination {
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 4px;
    color:white;
    font-weight: 600;
}

#products {
    text-align: center;
}

/* get items in a row */
#products .productcontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#products .products {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 3px solid #000000;
    margin: 50px 0;
    /* for cart position */
    position: relative;
}

#products .products img {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

#products .products img:hover {
    transform: scale(1.15);
}

/* the stars */
#products .products .description i {
    font-size: 25px;
    color: orange;
}

#products .products .cart {
    font-size: 25px;
    cursor: pointer;
    color: #000000;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product-details .single-product-image {
    border: 2px solid black;
    width: 40%;
    margin-right: 50px;
}

#product-details {
    display: flex;
    margin-top: 20px;
}

#product-details .single-product-details {
    width: 50%;
    padding-top: 30px;
}

#product-details .single-product-details h4 {
    padding-top: 40px 0 20px 0;
    margin-top: 20px;
}

#product-details .single-product-details h2 {
    font-size: 25px;
    margin-top: 20px;
}

#product-details .single-product-details span {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
    word-spacing: 3px;
}

#product-details .single-product-details select {
    display: block;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

#product-details .single-product-details input {
   width: 60px;
   height: 47px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
   border: 2px solid black;
}

#product-details .single-product-details button {
    cursor: pointer;
    width: 80px;
    border: 2px solid black;
}

/* MEDIA PAGE */
#page-header.media-header {
    background-image: url(Images/header-design-png-10.png);
}

#media {
    padding: 150px 150px 0 150px;
}

#media .media-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
}

#media .media-image {
    width: 50%;
    margin-right: 40px;
}

#media img {
    object-fit: cover;
   
}

#media .media-details {
    width: 50%;
}

#media .media-details h4 {
    text-decoration: underline black;
}

#media .media-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000000;
    font-weight:  700;
    position: relative;
    transition: .03;
}

#media .media-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#media .media-details a:hover {
    color: aqua;
}

#media .media-details a:hover:after {
    background-color: aqua;
}

#media-bottom {
    padding: 75px 150px 0 150px;
    padding-bottom: 75px;
    text-align: center;
}

#media-bottom img {
    padding-top: 50px;
}

#media-bottom a {
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    font-weight:  700;
    position: relative;
    transition: .03;
}

#media-bottom a::after {
    content: "";
    width: 150px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 12px;
    right: -150px;
}

#media-bottom a:hover {
    color: aqua;
}

#media-bottom a:hover:after {
    background-color: aqua;
}

/* ABOUT PAGE */
#page-header.about-header {
    background-image: url(Images/bluebanner.png);
}

#about-head {
    border-bottom: solid #000000 3px;
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
    line-height: 30px;
}

#about-head h2 {
    text-align: left;
}

#about-mission {
    border-bottom: solid #000000 3px;
    display: flex;
    align-items: center;
}

#about-mission img {
    width: 50%;
    height: auto;
}

#about-mission div {
    padding-left: 40px;
    line-height: 30px;
}

#about-mission h2 {
    text-align: left;
}

/* CONTACT PAGE */
#page-header.contact-header {
    background-image: url(Images/chatBanner.png);
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid black;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#form-details form input,
#form-details form textarea  {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid black;
}


#form-details form button {
    color: white;
    background-color: #000000;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}


#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000000
}

/* CART PAGE */
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px; 
}

#cart table thead {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid black;
}

#coupon button {
    height: 40px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 13px;
}